<div class="row">
    <div class="col s12 m7 l7 xl7">
        <div>
            <a class="waves-effect waves-light btn-small" [routerLink]="'/home'">
                <i class="material-icons right">send</i>
            </a>
        </div>
        <div class="card">
            <div class="card-content">
                <p>Coin Name: {{ moneda.name }}</p>
                <p>Rank: {{ moneda.rank }}</p>
                <p>USD price: {{ moneda.quotes.USD.price }}</p>
                <p>USD tipo de cambio:{{ dollarValue }}</p>
                <div class="row">
                    <div class="col s12">
                        MXN:
                        <div class="input-field inline">
                            <input type="number" [(ngModel)]="mxn" min="0" (keyup)="setMxn()" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        Moneda a MXN:
                        <div class="input-field inline">
                            <input type="text" value="{{mxnNew }}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-action">
                <p>Hola hoy es: {{ fecha | date: "shortDate" }}</p>
            </div>
        </div>
    </div>
</div>
{{ mxn }}
